<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--命名空间 绑定一个dao/Mapper接口-->
<mapper namespace="dao.UserMapper">

    <resultMap id="userMap" type="user">
        <result column="id" property="id"/>
        <result column="name" property="name"/>
        <result column="pwd" property="password"/>
    </resultMap>

    <select id="getUserList" resultType="entity.User">
        select * from mybatis.user
    </select>

    <select id="getUserById" resultType="entity.User" parameterType="int">
        select * from mybatis.user where id = #{id};
    </select>

    <insert id="addUser" parameterType="entity.User">
        insert into mybatis.user (id, name, pwd) value (#{id}, #{name}, #{pwd});
    </insert>

    <update id="updateUser" parameterType="entity.User">
        update mybatis.user
        set name = #{name}, pwd = #{pwd}
        where id = #{id};
    </update>

    <delete id="deleteUser" parameterType="int">
        delete from mybatis.user where id = #{id};
    </delete>

    <!--通过传入的value值进行模糊查询-->
    <select id="getUserByLike" resultType="entity.User">
        select * from mybatis.user where name like #{value};
    </select>

</mapper>